:root {
  --Dark: #1c2434;
  --White: #fff;
  --Text-color: #64748b;
  --Primary: #3c50e0;
  ----Gray: #eff4fb;
  --Stroke: #e2e8f0;
  --LastMessage: #5d657b;
  --Green: #10b981;
  --Red: #dc2626;
  --Gray-2: #f8fafc;
}
