@import "../../styles/variables.css";

.header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid var(--Stroke);
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 0 30px;
  width: -webkit-fill-available;
}

.leftCont {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  /* width: -webkit-fill-available; */
}

.rightContButton {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: fit-content;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: var(--Text-color);
}
