@import "./styles/variables.css";

.App {
  text-align: center;
}

/* index.css or App.css */

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 11px;
  /* Adjust the scrollbar width */
}

::-webkit-scrollbar-track {
  background: var(--Gray);
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background-color: var(--TailGrids-Text-Color);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded edges */
  border: none;
  /* Border to match track */
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--Green);
}
